/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Additive CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

*/


/*-----------------------------------
   Page Globals
-------------------------------------*/
html body { background:#fff none; overflow:visible !important; }

/* ---- Code ---- */

	/* Code: Responsive */
	.code_responsive { width: auto; margin-bottom: 0; border: none; overflow-y: visible; overflow-x: visible; }


/* ---- Tables ---- */
	.table th,
	.table td,
	.table tr > th,
	.table tr > td,
	.table-striped > tbody > tr:nth-child(odd) > th,
	.table-striped > tbody > tr:nth-child(odd) > td { background: #fff; color: #474747 !important; }
	
	/* Tables: Responsive */
	.table-responsive { width: auto; margin-bottom: 0; border: none; overflow-y: visible; overflow-x: visible; }
	.table-responsive > .table > thead > tr > th,
	.table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > th,
	.table-responsive > .table > thead > tr > td,
	.table-responsive > .table > tbody > tr > td,
	.table-responsive > .table > tfoot > tr > td { white-space: normal; }



/*-----------------------------------
   Structure
-------------------------------------*/

/* ---- Template ---- */
.row-offcanvas,
.row-offcanvas.active { margin-left: 0 !important; left: 0 !important; position: relative !important; }

.sidebar-offcanvas { display: none !important; }

/* ---- Header ---- */
.header { display: none !important; }

/* ---- Section Header ---- */
.section_header { background:none !important; }
.section_header h1 { color:#000 !important; }
.sticky_header_container { display: block !important; }
.search_nested_content_container { display:none !important; }
#mobile_search, #search_actuator { display:none !important; }
.navbar {display: block !important; }
.navbar-nav, .navbar .navbar-toggle, .section_header_content button {display: none !important; }
.navbar-brand>img {width: 250px !important;}
.cta_container_mobile {padding: 0 !important;}
#section_header_title {margin-left: 50% !important;}

/* ---- CTAs ---- */
.cta_box { display: none !important; }

/* ---- Content ---- */
.row-offcanvas #content_container { padding-top: 20px; font-size:12px; overflow:visible !important; }
.row-offcanvas.active #content_container { width: 100%; font-size:14px; overflow:visible !important; }

a[href]:after { content:"" !important; }

#go-top { display: none !important; }

.panel-heading { background:none !important; border:none !important; }
.panel-heading * { color:#000 !important; }
.caption { font-size:10pt; color:#000; font-style:italic; }
blockquote { border:none !important; color:#000; font-size:12pt; padding-left:0px; } 
img {  width:auto !important; height:auto !important; }
h1 { font-size:20pt; }
h2 { font-size:18pt; }
body {font-size: 12pt !important;}
.section_downsize {font-size: 10pt; }

.tab-content > .tab-pane { display:block !important; opacity:1 !important; }
.tab-container .collapse { display:block !important; }

.doc_topic_desc #expandAllPage { display:none; }

.feedbackblock { display:none; }

.doc_nda_notice { margin-bottom:30px; }

.carousel-inner div[data-picture] .visible-xs { display: block !important;}
/* ---- Body Trail ---- */
.body_trail_container { display:none; }

/* ---- Footer ---- */
#footer { display:block; color:#000; }
.fat_footer_container { display:none; }
#countrynav, .footernav, .social_media, .countrynav { display:none !important; }
p.copyright:before {content:"mathworks.com" ; display: block; font-size: 18pt;}
p.copyright:after {content:" MATLAB and Simulink are registered trademarks of The MathWorks, Inc. See mathworks.com/trademarks for a list of additional trademarks. Other product or brand names may be trademarks or registered trademarks of their respective holders." ;}


/*-----------------------------------
   Additive CSS
-------------------------------------*/

.add_border_left:before { border: none !important; }

.row.reorder_xs { transform: rotate(180deg); direction: rtl; }
.row.reorder_xs > [class*="col-"] { transform: rotate(-180deg); direction: ltr; }



/*-----------------------------------
   Print desktop layout
-------------------------------------*/
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left;}
.col-sm-12 { width: 100%;}
.col-sm-11 { width: 91.66666667%;}
.col-sm-10 { width: 83.33333333%;}
.col-sm-9 { width: 75%;}
.col-sm-8 { width: 66.66666667%;}
.col-sm-7 { width: 58.33333333%;}
.col-sm-6 { width: 50%;}
.col-sm-5 { width: 41.66666667%;}
.col-sm-4 { width: 33.33333333%;}
.col-sm-3 { width: 25%;}
.col-sm-2 { width: 16.66666667%;}
.col-sm-1 { width: 8.33333333%;}
.col-sm-pull-12 { right: 100%;}
.col-sm-pull-11 { right: 91.66666667%;}
.col-sm-pull-10 { right: 83.33333333%;}
.col-sm-pull-9 { right: 75%;}
.col-sm-pull-8 { right: 66.66666667%;}
.col-sm-pull-7 { right: 58.33333333%;}
.col-sm-pull-6 { right: 50%;}
.col-sm-pull-5 { right: 41.66666667%;}
.col-sm-pull-4 { right: 33.33333333%;}
.col-sm-pull-3 { right: 25%;}
.col-sm-pull-2 { right: 16.66666667%;}
.col-sm-pull-1 { right: 8.33333333%;}
.col-sm-pull-0 { right: auto;}
.col-sm-push-12 { left: 100%;}
.col-sm-push-11 { left: 91.66666667%;}
.col-sm-push-10 { left: 83.33333333%;}
.col-sm-push-9 { left: 75%;}
.col-sm-push-8 { left: 66.66666667%;}
.col-sm-push-7 { left: 58.33333333%;}
.col-sm-push-6 { left: 50%;}
.col-sm-push-5 { left: 41.66666667%;}
.col-sm-push-4 { left: 33.33333333%;}
.col-sm-push-3 { left: 25%;}
.col-sm-push-2 { left: 16.66666667%;}
.col-sm-push-1 { left: 8.33333333%;}
.col-sm-push-0 { left: auto;}
.col-sm-offset-12 { margin-left: 100%;}
.col-sm-offset-11 { margin-left: 91.66666667%;}
.col-sm-offset-10 { margin-left: 83.33333333%;}
.col-sm-offset-9 { margin-left: 75%;}
.col-sm-offset-8 { margin-left: 66.66666667%;}
.col-sm-offset-7 { margin-left: 58.33333333%;}
.col-sm-offset-6 { margin-left: 50%;}
.col-sm-offset-5 { margin-left: 41.66666667%;}
.col-sm-offset-4 { margin-left: 33.33333333%;}
.col-sm-offset-3 { margin-left: 25%;}
.col-sm-offset-2 { margin-left: 16.66666667%;}
.col-sm-offset-1 { margin-left: 8.33333333%;}
.col-sm-offset-0 { margin-left: 0%;}
.visible-xs { display: none !important;}
.hidden-xs { display: block !important;}
table.hidden-xs { display: table;}
tr.hidden-xs { display: table-row !important;}
th.hidden-xs, td.hidden-xs { display: table-cell !important;}
.hidden-xs.hidden-print { display: none !important;}
.hidden-sm { display: none !important;}
.visible-sm { display: block !important;}
table.visible-sm { display: table;}
tr.visible-sm { display: table-row !important;}
th.visible-sm, td.visible-sm { display: table-cell !important;}



























